.mohan{
    margin-right: .3rem;
}

.jeera{
    display: flex;
}

.angular_shakthi{
    margin-left: 50px;
    margin-top: 30px;
}

#jegan{
    width: 18% !important;
    height: 20rem !important ;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
    margin-top: 30px;
}
