<nav class="navbar navbar-expand-lg  bg-primary sticky-top " data-bs-theme="dark" style="left: 0;
  right: 0%;
  width: 100%;">
    <div class="container-fluid" >
      <a class="navbar-brand" routerLink="" >Dashboard</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addReports"
          type="submit" (click)="reset()">Add</button> -->
        &nbsp;
          <a class="navbar-brand" routerLink="Add">Add report</a>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
<!-- <signup-form></signup-form> -->

